:root {
  --deep-plum: #190C1D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #131212;
  color: #ECECEC;
  font-family: 'Roboto', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #5772FF;
}
a:hover {
  color: #2447FF;
}
a:active {
  color: #9013FE;
}
code {
  color: #FB4F58;
}
pre > code {
  color: #5E5E5E;
}
